@import "colors"
.light_theme_wrapper, .dark_theme_wrapper
  transition: .3s

.light_theme_wrapper
  background-color: $white
  color: $black
  height: 100%

  a
    color: $black

  input
    color: $gray
    border: 1px solid $gray-border

  textarea
    color: $gray
    background: $white

  .header
    border-bottom: 1px solid $gray-border

  .header-user
    select
      color: $black
      appearance: none
      background: url(assets/img/public/select-arrow-down-black.png) no-repeat calc(100% - 18px) center

  .breadcrumbs
    border-bottom: 1px solid $gray-border

    &__link
      color: $red

  .menu__link
    color: $black

  .logo
    &__text
      color: $gray

  .tabs-control-menu
    &__link
      color: $black

  .menu-categories-hover
    background: $gray2
    color: $dark_blue

  .menu
    border-right: 1px solid $gray-border

    &__item
      &:not(:last-child)
        border-bottom: 1px solid $gray-border

  .menu-act
    border-right: 1px solid $gray-border

  .content
    background-color: $gray2

  .content_block_grey
    background: $gray2

  .table-products
    &__list
      background-color: $white
      border-bottom: 1px solid $gray-border

      &--grey
        .table-products__item
          background: $gray2

  .table-heder-filtr-search
    &__search
      background-color: $white
      border: 1px solid $gray-border

  .select
    background: url(assets/img/public/select-arrow-down-black.png) no-repeat calc(100% - 14px) center
    background-color: $white
    border: 1px solid $gray-border
    &__list
      background-color: $white
    &__item
      &:hover
        background-color: $gray2

  .radio,
  .checkbox
    &__span
      background-color: $white
      border: 1px solid $gray-border

  .popup
    &__wrap
      background-color: $white
    &__content
      h3
        color: $black
    &__text
      color: $black

  .tree-node-inner-back:not(:last-child)
    border-bottom: 1px solid $gray-border
  .tree-node:not(:last-child)
    border-bottom: 1px solid $gray-border

  .tabs-control-menu
    &__list
      border-bottom: 1px solid $gray-border
    &__active
      border-bottom: 1px solid $red

  .language
    &__list
      background: $white

  .content_block-card
    background: $white

  .promo-date-block
    background: $gray2

  .login-contacts
    &__phone
      color: $black

  .table-heder-new-position
    &__button
      color: $white

  .settings
    &__content
      .tabs
        border-bottom: 1px solid $gray-border
        padding: 10px

        .tab
          color: $black
          background: $gray2

          &--active
            color: $white
            background: $red

  .step-wrapper
    border-bottom: 1px solid $gray-border

  .header-wrapper
    color: $gray
    border-bottom: 1px solid $gray-border

  .prop-value-wrapper
    border: 1px solid $gray-border

//=============

.dark_theme_wrapper
  background-color: $dark1
  color: $white
  min-height: 100%

  a
    color: $white

  input
    color: $white
    border: 1px solid $gray5

  textarea
    color: $white
    background: $dark1

  .header
    border-bottom: 1px solid $gray5

  .header-user
    select
      color: $white
      appearance: none
      background: url(assets/img/public/select-arrow-down-white.png) no-repeat calc(100% - 18px) center

  .breadcrumbs
    &__link
      color: $red
    border-bottom: 1px solid $gray5

  .menu__link
    color: $white

  .logo
    &__text
      color: $gray4

  .tabs-control-menu
    &__link
      color: $white

  .menu-categories-hover
    background: $gray5
    color: $white

  .menu
    border-right: 1px solid $gray5

    &__item
      &:not(:last-child)
        border-bottom: 1px solid $gray5

  .menu-act
    border-right: 1px solid $gray5

  .content
    background-color: $gray6
  .content_block_grey
    background: $gray6

  .table-products
    &__list
      background-color: $dark1
      border-bottom: 1px solid $gray5
      &--grey
        .table-products__item
          background: $gray6
      &--selected
        background-color: $gray6
    &__item
      color: $white

  .table-heder-filtr-search
    &__search
      background-color: $dark1
      border: 1px solid $gray5

  .select
    background: url(assets/img/public/select-arrow-down-white.png) no-repeat calc(100% - 14px) center
    background-color: $dark1
    border: 1px solid $gray5
    &__list
      background-color: $gray6
    &__item
      &:hover
        background-color: $gray5

  .radio,
  .checkbox
    &__span
      background-color: transparent
      border: 1px solid $icon-color
    &__input:checked + span
      background-color: $red
      border: 1px solid transparent
      background-position: left 5px center
      background-image: url("assets/img/public/checkbox-check-white.svg")

  .popup
    &__wrap
      background-color: $dark1
    &__content
      h3
        color: $white
    &__text
      color: $white

  .tree-node-inner-back:not(:last-child)
    border-bottom: 1px solid $gray5
  .tree-node:not(:last-child)
    border-bottom: 1px solid $gray5

  .tabs-control-menu
    &__list
      border-bottom: 1px solid $gray5
    &__active
      border-bottom: 1px solid $red

  .language
    &__list
      background: $gray6

  .content_block-card
    background: $dark1

  .promo-date-block
    background: $gray6

  .login-contacts
    &__phone
      color: $black

  .position_photo
    &__block
      &__new-photo
        background: $gray6

  .card-table-products
    &__list
      background: $gray6

    &__list--grey
      background-color: $gray6
    &--scroll
      overflow-y: hidden

  .button
    &--bordered-grey
      background: $gray6

  .tooltip-orders
    background: $dark1
    &--filter
      h3
        color: $white !important
        border-bottom: 1px solid $gray5

  .pagination
    &__count
      span
        color: $white

  .additional-goods
    &__list
      background: $gray6

  .settings
    &__wrapper
      background: $gray5

    &__content
      background: $dark1
      .tabs
        .tab
          color: $black
          background: $gray2

          &--active
            color: $white
            background: $red

