.content_block-card
	margin: 22px 33px 22px 29px
		
.table-heder-products
	padding-top: 21px
	padding-bottom: 20px
	display: grid
	grid-template-columns: 250px 1fr 203px
	.add_adres
		margin: 0
	&__dates
		display: grid
		grid-template-columns: 291px 630px
		grid-column-gap: 44px
		&--flex
			display: flex
			align-items: center
			gap: 0 27px
			.table-heder-filtr__address-box
				flex: 0 1 598px
				.table-heder-filtr__address
					width: 100%
	&__actions
		display: flex
		flex: 1 1 auto
		align-items: center
		justify-content: flex-start
		gap: 0 26px
		margin-top: 20px
		.button
			margin-left: auto
	&__other
		display: flex
		height: 35px
		margin-top: 20px
		justify-content: space-between
		align-items: center
	&__block
		align-self: center
	&__label
		font-size: 10px
		font-weight: 600
		padding: 1px 7px
		background: $red
		color: $white
		border-radius: 0.325rem
		text-transform: uppercase
		display: inline-flex
		margin-left: 44px
		position: relative
		top: -1px
		margin-right: 14px
	&__label-text
		display: inline-flex
		align-self: center
		color: $gray
		font-size: 13px
		margin-right: 13px
	&__battons
		display: inline-flex
		align-self: center
		position: relative
		top: 3px
	&--orders
		grid-template-columns: none

.table-heder-filtr
	&__address
		&-box
			display: flex
			gap: 0 16px
		.dateRange
			&__pic
				margin-right: 4px
			.reportrange-text
				white-space: pre
				width: 100%
				height: 36px
				display: flex
				align-items: center
				background-color: $white
				border: 1px solid #D4D4D4
				border-radius: 5px
				position: relative
				padding: 0px 13px 0 15px
				font-size: 13px
				line-height: 1.1
				font-weight: 400
				
		.checkbox__input:checked + span
			background-position: left 3px center
			background-size: 10px
		.checkbox--filled
			margin-left: 30px
			.checkbox__span
				width: 16px
				height: 16px
		> div
			display: flex
		h3
			font-weight: 600
			font-size: 13px
			line-height: 1.1
	&__dates
		max-height: 35px
		margin-top: 14px
		&--time
			margin-top: 10px
		.select
			line-height: 1.1
			padding: 9px 21px
	&__btns-row
		display: grid
		grid-template-columns: 88px 69px 79px 111px 81px 12px
		max-height: 35px
		button
			display: flex
			justify-content: center
			align-items: center
			padding: 8px 13px 10px

			outline: none
			background: none
			border: 1px solid #D4D4D4
			border-radius: 0
			cursor: pointer

			background-color: $white

			color: $black
			font-size: 13px
			line-height: 1.1
			font-weight: 400
			line-height: normal

			transition: background-color .3s ease

			&:hover
				background-color: darken($red, 5%)
				font-weight: 600
				color: $white

			&.selected
				background-color: $red
				font-weight: 600
				color: $white

		.select
			display: flex
			justify-content: flex-start
			padding: 10px 12px 
			outline: none
			border: 1px solid #D4D4D4
			border-radius: 0 !important
			cursor: pointer
			background: url(assets/img/public/select-arrow-down-black.svg) no-repeat calc(100% - 10px) center
			background-size: 9px 7px
			background-color: $white

			&-box
				position: relative

			&.last
				border-radius: 0 5px 5px 0 !important
				border-right: 1px solid #D4D4D4

		button
			&:nth-child(1)
				border-radius: 5px 0 0 5px
			&:not(&:nth-child(1)):not(&:last-child)
				border-right: none
			&:nth-child(1)
				border-right: none
			
	&__btns
		display: flex

		> *:not(:last-child)
			margin-right: 9px
	&__btn
		display: flex
		justify-content: center
		align-items: center
		padding: 10px 25px
		
		outline: none
		background: none
		border: none
		cursor: pointer

		border-radius: 65px
		background-color: #EAEAEA

		font-size: 13px
		font-weight: 400
		line-height: normal

		transition: background-color .3s ease

		> *:not(:last-child)
			margin-right: 8px

		span
			color: $red

		&:hover
			background-color: darken(#EAEAEA, 5%)

		&.selected
			background-color: $white
			font-weight: 600

.table-heder-filtr-search
	text-align: center
	position: relative
	&__input
		max-height: 16px
		padding-left: 0 !important
	&__download
		margin-right: 55px
		margin-left: 55px
		font-size: 13px
		line-height: normal
		color: $gray
		padding: 12px 18px
		width: 165px

		border-radius: 5px
		transition: background-color .3s ease

		&:hover
			background-color: $red
			color: $white
			font-weight: 600

	.icon--filter
		margin-right: 9px
		width: 12px
		height: 12px
		margin-top: 3px
	.icon--zoom
		width: 13px
		height: 12px
	&__filtr
		display: inline-flex
		align-self: center
		color: $gray
		transition: color .3s ease
		&:hover
			color: $red
			.icon
				fill: $red
	&__search
		position: relative
		display: flex
		align-items: center
		background-color: $white
		border-radius: 5px
		border: 1px solid $gray-border
		padding: 9px 0 7px 12px
		max-height: 30px

		.table-heder-filtr-search__search--button
			top: 10px

		.table-heder-filtr-search__search--button svg
			transition: .3s ease

		&:hover
			.table-heder-filtr-search__search--button svg
				fill: $red

		&--button
			position: relative
			top: 7px
			left: -4px
			padding: 0px
			margin: 0px
			border: 0px
			background: transparent
			.icon--filter
				width: 12px
				height: 12px
			.icon--zoom
				width: 13px
				height: 12px
	&--address
		display: flex
		justify-content: flex-end
		align-items: center
		> *:not(:last-child)
			margin-right: 43px
		.table-heder-filtr-search__download
			margin-right: 0
			padding-right: 0
			text-align: right
			padding-left: 0
			margin-left: 55px
			width: 115px
	&--catalog
		display: flex
		justify-content: flex-end
		align-items: center
		margin-right: 44px

		> *:not(:last-child)
			margin-right: 37px

		.table-heder-filtr-search__filtr
			order: 1

		.table-heder-filtr-search__search
			order: 2

		.table-heder-filtr-search__search--button
			top: 2px
	&--table
		display: none

.table-heder-filtr-search .table-heder-filtr-search__input
		width: 230px
		height: 32px
		background: transparent
		border:0px
		border-radius: 0px
	
.table-heder-new-position
	&__button
		padding-left: 27px
		padding-right: 26px
		height: 30px
		font-size: 13px
		font-weight: 600

.table-products
	&__list
		display: grid
		grid-template-columns: auto auto auto 1fr 2fr 1fr 1fr 1fr 1fr 1fr 1fr 107px
		min-height: 64px
		background: $white
		border-bottom: 1px solid $gray-border

		transition: background-color .15s ease
		&--catalog.table-products__list--dark-grey
			padding-left: 25px
		&--orders
			grid-template-columns: 1.3fr .7fr 1fr 1fr .8fr 1.2fr 1fr 1.3fr 1.3fr 1.5fr 1fr 70px
			transition: background-color .1s ease
			.table-products__item
				white-space: pre

			&:last-child
				.tooltip-orders
					top: auto !important
					bottom: 40px !important
					&:before
						top: auto !important
						bottom: -7px !important
		&--new
				background-color: rgba($green, .1)
		&--dark-grey	
			background: $gray2
		&--grey	
			min-height: auto !important
			.table-products__item
				background: $gray2
				align-self: initial
				color: $gray
				text-transform: uppercase
				font-size: 10px
				padding-top: 13px
				padding-bottom: 8px
				border-bottom: 1px solid $gray-border
				&--name
					padding-left: 15px 
					cursor: pointer
					position: relative
					svg
						position: absolute
						top: 0
						left: 0
						z-index: 1

				&--select:before
					background: url("assets/img/public/arrow-down-grey.svg") no-repeat left center $gray2
					-webkit-transform: rotate(180deg)
					-moz-transform: rotate(180deg)
					-ms-transform: rotate(180deg)
					-o-transform: rotate(180deg)
					transform: rotate(180deg)
				&--price
					padding-left: 15px 
					cursor: pointer
					position: relative
					svg
						position: absolute
						top: 0
						left: 0
						z-index: 1
		&--light-grey
			min-height: auto
			.table-products__item
				align-self: initial
				color: $gray
				text-transform: uppercase
				font-size: 10px
				padding-top: 12px
				padding-bottom: 10px
				border-top: 1px solid $gray-border
		&--selected
			background-color: $gray2
	&__item
		padding: 7px 5px
		align-self: center
		position: relative
		&--sortable
			display: flex
			cursor: pointer
			transition: color .3s ease

			> *:not(:last-child)
				margin-right: 6px
			svg
				width: 9px
				height: 100%
				transition: transform .3s ease
				path
					transition: fill .3s ease
			&:hover
				color: $black
				path
					fill: $black
			&.selected
				color: $red
				svg
					transform: rotate(180deg)
				path
					fill: $red

			&.unselected
				svg
					transform: rotate(0deg)
		&--price
			white-space: pre
		&--dates
			padding-left: 26px
		&--orders-list p
			text-decoration: underline
			color: $red
			font-size: 13px
			font-weight: 600	
			line-height: normal
			cursor: pointer

			&:hover
				color: darken($red, 15%)
		&--typeOrder-list p
			text-decoration: underline
			cursor: pointer
			color: $black
			font-weight: 600
			&:hover
				color: darken($red, 5%)
		&--customer-list p
			text-decoration: underline
			cursor: pointer
			color: $black
			font-weight: 600
			&:hover
				color: darken($red, 5%)
		&--priceR-list a
			text-decoration: underline
			color: $black
			font-weight: 600
			&:hover
				color: darken($red, 5%)
		&--status-list
			> p
				font-weight: 600
				color: $black
				text-decoration: underline
				cursor: pointer
				&:hover
					color: darken($red, 5%)
			&.denied
				> p
					color: $red
					&:hover
						color: darken($red, 15%)
			&.executed
				> p
					color: $green
					&:hover
						color: darken($green, 15%)
		&--comment-list
			color: $black
			&.has--comment > p
				color: $green
				text-decoration: underline
				cursor: pointer
				&:hover
					color: darken($green, 15%)
		&--pay-list
			text-decoration: underline
			font-weight: 600
			color: $green
			&:hover
				color: darken($green, 10%)
			&.no--pay
				color: $red
				&:hover
					color: darken($red, 15%)
		&--open-list
			cursor: pointer
		&--menudrop
			padding-left: 16px
			padding-right: 28px
			width: 24px
			text-align: center
		&--check
			width: 30px
			.checkbox__span
				border: 1px solid $icon-color
				margin-top: -1px
		&--photo
			width: 70px
			position: relative
			.icon--stop
				display: none
				position: absolute
				top: 8px
				left: 0px
				&.show
					display: flex
			&--nophoto
				font-weight: 600
				font-size: 10px
				color: $gray
				text-align: center
				text-transform: uppercase
				position: absolute
				top: 15px
				left: 13px
		&--icons
			padding: 7px 0px
			align-self: center
			text-align: right
			padding-right: 25px
			width: 107px
			.icon
				margin: 0.2rem
				&--attention
					height: 15px
				&--trash
					height: 14px
				&--edit
					height: 14px
		&--marker
			&--icon		
				display: inline
				margin-right: 6px
				cursor: pointer
		&--name
			&--ul
				margin-left: 0
				list-style: none
				padding: 0px	
			&--li
				padding-left: 19px
				color: $gray
				position: relative
				cursor: pointer

				svg	
					transition: transform .2s ease
					position: absolute
					left: 2px
					top: 6px

				&.open svg
					transform: rotate(180deg)
				&--zag
					font-weight: 600
					color: $black		
		&--desciption
			.icon--desc
				display: inline
				margin-right: 5px
		&--naming
			display: flex
			flex-direction: column

			> *:not(:last-child)
				margin-bottom: 1px

			p
				text-decoration: none
				text-transform: uppercase
				font-weight: 400
				font-size: 10px
				line-height: normal

				display: flex
				color: $gray

				> *:not(:last-child)
					margin-right: 10px
		&--os
			display: flex
			justify-content: center
			padding-right: 5px

	.act
		font-weight: 600

.table-products-name-2-pos
	grid-column-start: 5
	grid-column-end: 7

.table-products-bju-3-pos
	grid-column-start: 7
	grid-column-end: 10

.tooltip-mask
	display: none
	position: absolute
	bottom: 0
	top: 0
	left: 0
	right: 0
	z-index: 19

	&.show
		display: block

.tooltip-orders
	display: flex
	visibility: hidden
	width: 324px
	justify-content: center
	flex-direction: column
	padding: 25px 30px 28px

	border-radius: 5px
	background-color: $white

	position: absolute
	top: 40px
	left: -25px
	z-index: 20

	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.20)

	&__table
		display: grid
		grid-template-columns: 45px 1fr 9fr 2fr 2fr 2fr 2fr 1.5fr

		list-style: none
		margin: 0
		padding: 0

		&--sticky
			position: sticky
			top: 0
			left: 0
			right: 0
			background-color: $white
			z-index: 3

		&-box
			max-height: 232px
			overflow: auto

			margin-right: -21px
			padding-right: 21px

			&::-webkit-scrollbar
				border-radius: 20px
				overflow: hidden
				width: 6px

			&::-webkit-scrollbar-track
				border-radius: 20px
				background-color: $gray2
			
			&::-webkit-scrollbar-thumb
				border-radius: 20px
				background-color: #D4D4D4


		&--info
			position: relative
			left: -10px
			margin-right: -54px
			

			p
				text-decoration: none
				color: $black
				font-weight: 400
				font-size: 13px
				cursor: initial
				line-height: normal
			p:nth-child(1)
				display: flex
				justify-content: center
			p:nth-child(2)
				width: 70px
				position: relative
				white-space: pre
				min-width: 0
			p:nth-child(3)
				text-align: right
				padding-right: 8%


		.table-products__item:nth-child(1)
			display: flex
			justify-content: center

		&-info
			background-color: $gray2
			padding: 16px 45px 26px 10px

	&__all-orders
		display: flex
		align-items: center
		margin-top: 25px

		color: $black
		font-weight: 600
		text-decoration: underline
		line-height: normal
		transition: color .3s ease

		> *:not(:last-child)
			margin-right: 9px
		&:hover
			color: $red

	div.print
		min-width: 75px

	.print
		display: flex
		align-items: center
		
		color: $black
		font-weight: 400
		font-size: 13px
		cursor: pointer
		text-decoration: none

		position: relative

		> *:not(:last-child)
			margin-right: 9px

		&:hover
			font-weight: 600

			.print-outer path
				fill: $red

		.print-inner
			display: flex
			align-items: center
			
			color: $black
			font-weight: 400
			font-size: 13px
			cursor: pointer
			text-decoration: none

			> *:not(:last-child)
				margin-right: 9px
			&:hover
				font-weight: 600

				path
					fill: $red

	&--filter
		display: flex
		width: auto
		flex: 1 1 610px
		padding: 13px 20px 18px 18px
		left: -55px
		top: 30px

		h3
			display: flex
			color: $gray !important
			font-weight: 400 !important
			line-height: 1.1
			padding-bottom: 13px
			font-size: 13px !important
			width: calc(100% + 38px)
			margin-left: -18px
			padding-left: 18px
			border-bottom: 1px solid $gray-border

		&:before
			display: none
	&.show
		visibility: visible

		&--top
			top: auto
			bottom: 40px
			
			&:before
				top: auto
				bottom: -7px

		&--right
			right: 35px
			left: auto
			
			&:before
				right: 30px
				left: auto

		&--bottom
			top: 40px
			bottom: auto

			&:before
				top: -7px
				bottom: auto

		&--left
			top: -250px
			bottom: auto
			left: 70px

			&:before
				top: 250px
				left: -9px
				bottom: auto

	h3
		font-size: 15px
		font-weight: 600
		color: $black
		z-index: 2

	h4 
		font-size: 13px
		font-weight: 600
		color: $black

	&__header
		display: flex
		justify-content: space-between
		margin-bottom: 20px
	
	&__list
		width: 100%
		display: flex
		flex-direction: column
		padding: 0
		list-style: none
		margin: 0
		margin-top: 10px

		> *:not(:last-child)
			margin-bottom: 17px

		&--popup > *:not(:last-child)
			margin-bottom: 10px

		&--info
			max-width: 493px
			text-align: right
			margin-left: auto

			.tooltip-orders__item--accent
				margin-right: -19px

		&--nom
			margin-top: 0

	&__item
		display: flex
		align-items: baseline 
		line-height: normal
		color: $black

		> div
			flex: 1
			margin-left: 5px
			margin-right: 7px
			background-image: linear-gradient(to right, #D4D4D4 33%, rgba(255,255,255,0) 0%)
			background-position: bottom
			background-size: 5px 2px
			background-repeat: repeat-x
			height: 15px

		span
			font-weight: 600
			line-height: normal

		&--accent
			font-weight: 600
			span
				font-size: 15px
				color: $red

	&:before
		content: ""
		height: 27px
		width: 27px
		background-color: $white
		position: absolute
		top: -7px
		left: 30px
		transform: rotate(45deg)

	&--print
		padding: 23px	48px 25px 26px
		max-width: 252px
		left: -169px
		cursor: default

		.tooltip-orders__list
			min-width: 17px
			margin-top: 0

		&:before
			left: 204px

	&--select
		width: calc(100% + 10px)
		padding: 15px
		left: 23px
		top: 38px

		.tooltip-orders__list
			margin: 0
			z-index: 2

			> *:not(:last-child)
				margin-bottom: 6px

		.tooltip-orders__item
			padding-bottom: 2px
			padding-top: 1px 
			padding-left: 9px

			transition: background-color .3s ease 
			border-radius: 4px
			&:hover
				background-color: $red
				color: $white
				font-weight: 600
				cursor: pointer

	&--status
		max-width: 152px
		padding: 15px 15px 25px


		.tooltip-orders__list
			> *:not(:last-child)
				margin-bottom: 6px

		.tooltip-orders__item
			padding-bottom: 3px 
			padding-left: 9px

			transition: background-color .3s ease 
			border-radius: 4px

			&--green
				cursor: default !important
				color: $white
				font-weight: 600
				background-color: $green !important

			&:hover
				background-color: $red
				color: $white
				font-weight: 600
				cursor: pointer

	&--review
		align-items: flex-start
		padding: 15px 15px 20px
		max-width: 240px

		> *:not(:last-child)
			margin-bottom: 10px


		div
			white-space: pre-wrap

		img
			height: 13px

		a
			transition: color .3s ease
			&:hover
				color: $red !important

	&--orders
		width: 1026px
		padding: 28px 40px 26px
		
		left: -155px

		h3
			font-size: 18px

		&:before
			left: 165px

.condition-box
	display: flex
	gap: 10px 0
	flex-direction: column
	margin-top: 11px

.condition
	display: flex
	gap: 0 10px
	align-items: center

	&__list
		margin: 0
		padding: 0
		list-style: none
		display: flex
		flex-direction: column
		gap: 10px 0

	span
		width: 40px
		white-space: pre
		text-align: left

	.select
		display: flex
		align-items: center
		width: 168px
		height: 30px
		padding: 6px 0 8px 14px

		&__list
			top: 36px

			&--xsmall
				padding: 8px 6px
				top: 30px

				.select__item
					padding: 0
					&:not(:last-child)
						margin-bottom: 5px

		&--small
			width: 68px
		&--xsmall
			text-align: left
			background-position-x: 100% 
			background-position-y: 60% 
			border: none
			width: 40px
			padding: 0

.addFilter
	display: flex
	max-width: 150px
	gap: 0 12px
	align-items: center
	margin-top: 14px

	cursor: pointer

	font-size: 13px
	line-height: 1.1
	font-weight: 400

.icon--remove
	width: 8px	
	height: 8px
	cursor: pointer
	*
		transition: fill .3s ease 
	&:hover *
		fill: $red

@include media(1060px)
	.table-heder-products__dates
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		align-items: center

		> *:not(:last-child)
			margin-bottom: 15px

		span, h3
			white-space: pre

	.table-products
		&__list
			min-height: 50px
			&--grey
			.table-products__item
				font-size: 9px
			&--orders
				grid-template-columns: 1.5fr 0.7fr 1fr 1fr 0.8fr 1.2fr 1fr 1.3fr 1.3fr 1.5fr 1fr 40px

		&__item
			font-size: 12px
			&--dates
				padding-left: 13px 
			p, a
				font-size: 10px
	.table-products__item--vendor-code
		padding-left: 10px !important
	.table-products__item--photo
		width: 50px
		& .icon--stop
			top: 1px !important
			left: 1px !important
	.table-products__item
		padding: 2px 2px

	.table-heder-products__label
		margin-left: 12px
		margin-right: 7px

	.table-heder-products--catalog
		grid-template-columns: 210px 0fr
		grid-row-gap: 20px
		grid-column-gap: 20px
	.table-heder-filtr-search--catalog
		justify-content: flex-start

	.table-products__list--catalog
		grid-template-columns: auto auto auto 1fr 2fr 1fr 0.5fr 1fr 1fr .5fr 1fr 77px
	.table-products__item--icons
		display: flex
	.table-products__item--weight
		padding-left: 5px !important


@include media(1045px)
	.table-heder-filtr-search--table-hide
		display: none
	.table-heder-filtr-search--table
		padding-top: 15px
		display: inline
		height: 32px
		margin-right: auto
		margin-left: 30px

		.table-heder-filtr-search__input
			width: 80px

		.table-heder-filtr-search__download
			margin: 0
			margin-left: 10px


@include media($tablet)
	.table-products
		width: 100%
		overflow: hidden